<div>
    <script type="text/x-handlebars-template" id="1-column-template">
    	<div class="row">
    		<div class="rowEditor"></div>
			<div class="span{{size1}} content-one"></div>
		</div>
    </script>

    <script type="text/x-handlebars-template" id="2-column-template">
    	<div class="row">
    		<div class="rowEditor"></div>
			<div class="span{{size1}} content-one"></div>
			<div class="span{{size2}} content-two"></div>
		</div>
    </script>

    <script type="text/x-handlebars-template" id="3-column-template">
    	<div class="row">
    		<div class="rowEditor"></div>
			<div class="span{{size1}} content-one"></div>
			<div class="span{{size2}} content-two"></div>
			<div class="span{{size3}} content-three"></div>
		</div>
    </script>

    <script type="text/x-handlebars-template" id="row-ed">
		<i class="icon-retweet"></i>
		<i class="icon-trash"></i>
	</script>
</div>